.img-h {
    min-height: 260px;
    max-height: 260px;
}

.img-sid {
    min-height: 45px;
    max-height: 45px;
}

@media screen and (max-width: 320px) {
    .img-h {
        min-height: 150px;
        max-height: 150px;
    }
}